* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #e1baff;
  font-family: outfit-c;
}

a:focus {
  color: rgb(97, 97, 97);
}

:root {
  --index: calc(1vw + 1vh);
  --color-header: #000000;
  -color-text: #f4efec;
  --gallery-gap: calc(var(--index) * 5);
}

@font-face {
  font-family: outfit-c;
  src: url(../static/fonts/outfit-regular.woff2);
}

@font-face {
  font-family: raleway-c;
  src: url(../static/fonts/raleway-regular.woff2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-c;
}

body {
  background-color: #0c1326;
  font-family: raleway-c;
  color: #fff;
  overflow: scroll;
}

.main-banner {
  height: 100vh;
}

.main-pic {
  width: 100%;
  object-fit: contain;
}

.main-title {
  font-family: outfit-c;
  font-size: calc(var(--index) * 4);
  width: min-content;
  position: absolute;
  left: 0.5em;
  bottom: 29vh;
  line-height: 1.1;
  text-shadow: 20px 20px 200px rgba(14, 14, 14, 8);
}

.container2 {
  display: flex;
  justify-content: space-around;
  padding: calc(var(--index)* 0.4) 0;
  margin-bottom: var(--gallery-gap);
  margin-top: 5.5%;
  border-radius: 50px;
  background-color: #061e3c;
  box-shadow: 3px 3px 50px rgba(14, 14, 14, 0.8)
}

.card>.info {
  text-align: center;
}

.image-button {
  border-radius: 50px;
  box-shadow: 3px 3px 10px rgba(14, 14, 14, 3);
}

.type-of-button {
  text-shadow: 1px 1px 4px rgba(14, 14, 14, 9);
}

.image-button:hover {
  border-radius: 53px;
  border-bottom: 1px solid #7db5ec;
}

.card img {
  width: 300px;
}

.gallery {
  display: flex;
  padding: calc(var(--index)* 1) 0;
}

.gallery>* {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery-left {
  align-items: center;
}

.gallery_item {
  margin: calc(var(--index)* 0.9) 0;
  max-width: 600px;
  border-radius: 50px;
  box-shadow: 10px 10px 50px rgba(14, 14, 14, 0.8)
}

.toc-wrapper {
  display: table;
  margin: 0 auto;
}

.toc-wrapper>h2 {
  font-family: outfit-c;
  font-size: calc(var(--index) * 4);
}

.toc>li>a {
  color: white;
}

.toc>li>a:hover {
  opacity: .8;
}

.toc {
  margin-top: 50px;
  list-style: none;
  counter-reset: li;
}

.toc li {
  position: relative;
  margin-bottom: 40px;
  padding-left: 50px;
  line-height: 25px;
  transition: .1s linear;
  font-size: calc(var(--index) * 2);
}

.toc li:last-child {
  margin-bottom: 0;
}

.toc li:before {
  counter-increment: li;
  content: counters(li, "");
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 0;
  font-size: 14px;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: black;
  border-radius: 50%;
  background: #e1baff;
}

.toc li:nth-child(2):before,
.toc li:nth-child(2):after {
  background: #e1baff;
}

.toc li:nth-child(3):before,
.toc li:nth-child(3):after {
  background: #e1baff;
}

.toc li:nth-child(4):before,
.toc li:nth-child(4):after {
  background: #e1baff;
}

.toc li:nth-child(5):before,
.toc li:nth-child(5):after {
  background: #e1baff;
}

.toc li:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #e1baff;
  top: 50%;
  left: 34px;
  margin-top: -4px;
  opacity: 0;
  transition: .3s linear;
}

.toc li:hover:after {
  opacity: 1;
}

.container-sod {
  margin-bottom: 7%;
}

.text-p {
  margin-bottom: 5%;
}

.text-h4 {
  font-size: 2em;
  font-weight: bolder;
}

.text-h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: calc(var(--index) * 3);
}

.end-container {
  align-items: center;
  text-align: center;
  margin-left:var(--index);
  padding: auto;
  margin-bottom: 3%;
}

.slide-item {
  display: flexbox;
  text-align: justify;
  margin: auto;
  padding: auto;
}

.description-os {
  text-align: center;
  margin-right: 2em;
  font-size: 1.3em;
  font-family: raleway-c;
  border-radius: 15px;
  padding: 2.5%;
}

.MOS-link {
  color: #7db5ec;
  font-family: raleway-c;
  font-style: oblique;
}

.MOS-link:hover {
  opacity: .8;
}

.container-info {
  display: flex;
  padding: calc(var(--index)* 1) 0;
}

.container-info>* {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div-left {
  padding-left: 5%;
  align-items: center;
  text-align: center;
}

.div-right {
  padding-right: 5%;
  align-items: center;
  text-align: center;
}

.div-item {
  width: auto;
  margin: calc(var(--index)* 0.9) 0;
  max-width: 600px;
  border-radius: 50px;
  box-shadow: 10px 10px 50px rgba(14, 14, 14, 0.8)
}

/* ... */

footer {
  width: 100%;
  height: auto;
  background: #141831;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}

.imageLinks {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.imageLinks:hover {
  border-radius: 80%;
  border-bottom: 1px solid white;
}

.footerEnd {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerEnd a:hover {
  border-bottom: 1px solid white;
}

@media (max-width: 924px){

  .main-banner {
    width: auto;
    display: flexbox;
    overflow: hidden;  
  }

  .main-pic {
    width: 100%;
    display: flexbox;
    overflow:hidden;
  }
  
  .main-title {
    font-family: outfit-c;
    font-size: calc(var(--index) * 2  );
    position: absolute;
    top: 30px;
    left: 0.5em;
    line-height: 1.1;
    text-shadow: 10px 10px 50px rgba(14, 14, 14, 8);
  }

  .container-info {
    display: flexbox;
    margin: calc(var(--index)* 0.5);
    overflow: hidden;
  }

  .container-info > * {
    flex: 1;
    display: flexbox;
    align-items: center;
    flex-direction: column;
  }
  
  .div-left {
    align-items: center;
  }

  .div-right {
    align-items: center;
  }

  .div-item {
    display: flexbox;
    margin: calc(var(--gallery-gap)* 0.3) 0;
    max-width: 130px;
    border-radius: 50px;
    box-shadow: 10px 10px 50px rgba(14, 14, 14, 0.8)
  }

  .slide-item {
    display: flexbox;
    text-align: justify;
    margin: auto;
    padding: auto;
  }

  .card img {
    width: 90px;
  }

  .container2 {
    display: flexbox;
    width: auto;
    padding: calc(var(--index) * 1);
    font-size: calc(var(--index) * 1);
    justify-content: center;
    margin-bottom: var(--gallery-gap);
    border-radius: 50px;
    background-color: #061e3c;
    box-shadow: 3px 3px 50px rgba(14, 14, 14, 0.8)
  }
  
  .description-os {
    display: flexbox;
    width: auto;
    font-style: outfit-c;
    text-align: center;
    padding: calc(var(--index) * 1);
    margin-left: 6%;
    font-size: calc(var(--index) * 1);
    border-radius: 15px;
    overflow-x:hidden;
  }
  

  .end-container {
    display: flexbox;
    width: auto;
    font-size: calc(var(--index) * 1);
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
    overflow: hidden;
  }
  
  footer {
    display: flexbox;
    width: auto;
    height: auto;
    background: #141831;
    text-align: center;
    margin-top: 100px;
    overflow-x:hidden;
  }

  .toc-wrapper > h2 {
    font-family: outfit-c;
    font-size: calc(var(--index) * 3);
  }

  .toc-wrapper {
    display: flexbox;
    width: auto;
    margin: 10%;
  }

  .text-p {
    margin-bottom: 5%;
  }
  
  .text-h3 {
    margin-left: auto;
    margin-right: auto;
    font-size: calc(var(--index) * 2);
  }
  
  .slide-text {
    display: flexbox;
    text-align: justify;
  }
}